[Desktop Entry]
Type=Link
URL=file:///
Icon=computer
Name=This PC
Name[de]=Dieser PC
Comment=Browse the file system
Comment[de]=Dateisystem durchsuchen
